[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_host=redis.roboshop.internal
Environment=MONGO_URL=catlaogue.roboshop.internal
ExecStart=/bin/node /home/roboshop/catalogue/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target

