[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_host=redis-{{ENV}}.roboshop.internal
Environment=MONGO_URL=catlaogue-{{ENV}}.roboshop.internal
ExecStart=/bin/node /home/roboshop/catalogue/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target

